@import "../assets/_variables.scss";

.MainPage {
    background-color: $primary !important;
}
.content {
    width: 70% !important;
    background-color: $grey;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    min-height: 960px;
    overflow: hidden;
    p {
        background-color: $grey;
    }
}

.main {
    margin-left: 1%;
    float: left;
    background-color: white;
    width: 69%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}


.board-table {
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    border-collapse:collapse;
    tr {
        border-style: solid;
        border-width: 2px;
        border-color: $grey;

    }
    td {
        background-color: white;
        border-style: solid;
        border-width: 4px;
        border-color: $grey;
        font-size: x-large;
        height: 50px;
        vertical-align: middle;

        a {
            color:black;
        }
        span {
            padding-left: 10px;
            background-color: white;
            vertical-align: middle;
            font-size: large;
        }
    }
    th {
        border-style: solid;
        border-width: 2px;
        border-color: $primary;
        background-color: $primary;
        color: white;
        font-weight: normal;
        font-size: x-large;
        height: 50px;
        padding-left: 10px;
        vertical-align: middle;
    }
}